.menu {
    background-color: #149859;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5vw;
}

.menu button {
    background-color: white;
    color: #149859;
    font-family: Arial;
    font-size: 1.3vw;
    float: right;
    border: 0;
    margin-top: 1.6vw;
    margin-right: 2.3vw;
    height: 2.4vw;
    width: 7vw;
    border-radius: 0.5vw;

}

.menu button:hover {
    text-decoration: none;
    color: #013ccb;
}

.menu img {
    width: 6vw;
    height: 4vw;
    padding-top: 0.9vw;
    padding-left: 0.9vw;
}

.login {
    min-height: 400px;
    margin-left: 30vw;
}

.login button {
    background-color: #149859;
    color: white;
    margin-left: 13.5vw;
    margin-top: 1.5vw;
    font-family: 'Signika', sans-serif;
    font-size: 1.6vw;
    border: 0;
    height: 3vw;
    width: 10vw;
    border-radius: 0.5vw;
}

.login a {
    font-family: Arial;
    font-size: 1.5vw;
    margin-left: 11.5vw;
}

.login a:hover {
    color: #149859;
}

.login p {
    font-family: 'Signika', sans-serif;
    font-size: 2vw;
    width: 100vw;
}

.first p {
    padding-left: 3.4vw;
}

.first input {
    margin-left: 2.5vw;
    width: 20vw;
    font-size: 2vw;
    width: 25vw;
}

.second input {
    margin-left: 2.5vw;
    width: 20vw;
    font-size: 2vw;
    width: 25vw;
}

h1 {
    font-size: 2vw;
    font-family: 'Signika', sans-serif;
    margin-top: 15vw;
    text-align: center;
}

.contacts {
    flex: 0 0 auto;
    background-color: #2a2a37;
    width: 100%;
    height: 10vw;
}

.contacts p {
    float: left;
    color: white;
    font-size: 1.3vw;
    font-family: Arial;
    padding-top: 2.3vw;
    padding-left: 3vw;
}

.contacts p a {
    color: white;
}

.contacts p a:hover {
    color: #149859;
}