.menu {
    background-color: #149859;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
}

.menu img {
    padding-top: 10px;
    padding-left: 12px;
}

.menu button {
    background-color: white;
    color: #149859;
    font-family: Arial;
    font-size: 16px;
    float: right;
    border: 0;
    margin-top: 20px;
    margin-right: 40px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
}

.menu button:hover {
    text-decoration: none;
    color: #013ccb;
}

.login {
    height: 350px;
    margin-left: 30vw;
}

.login button {
    background-color: #149859;
    color: white;
    margin-left: 9vw;
    font-family: 'Signika', sans-serif;
    font-size: 1.6vw;
    border: 0;
    height: 3vw;
    width: 20vw;
    border-radius: 0.5vw;
}

.login p {
    font-family: 'Signika', sans-serif;
    font-size: 2vw;
    width: 100vw;
}

.first p {
    padding-left: 3.3vw;
}

.second p {
    padding-left: 3.3vw;
}

.fourth p {
    padding-left: 2.2vw;
}

.first input {
    margin-left: 2.5vw;
    width: 20vw;
    font-size: 2vw;
    width: 25vw;
}

.second input {
    margin-left: 2.5vw;
    width: 20vw;
    font-size: 2vw;
    width: 25vw;
}

.third input {
    margin-left: 2.5vw;
    width: 20vw;
    font-size: 2vw;
    width: 25vw;
}

.fourth input {
    margin-left: 2.5vw;
    width: 20vw;
    font-size: 2vw;
    width: 25vw;
}

h1 {
    font-size: 2vw;
    font-family: 'Signika', sans-serif;
    margin-top: 15vw;
    text-align: center;
}

.contacts {
    background-color: #2a2a37;
    width: 100%;
    height: 120px;
    float: inline-end;
}

.contacts p {
    float: left;
    color: white;
    font-size: 16px;
    font-family: Arial;
    padding-top: 30px;
    padding-left: 50px;
}

.contacts p a {
    color: white;
}

.contacts p a:hover {
    color: #149859;
}